<div
  class="banner"
  style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path ("appbackground.png") %>)">
  <div class="container">
    <h1>ReelRadar</h1>
    <p>Unraveling Cinematic Treasures, One Reel at a Time!</p>
  </div>
</div>
<div class="container mt-4">
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-category mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= list.photo.attached? ? cl_image_path(list.photo.key, width: 400, height: 300, crop: :fill, class: "card-category") : 'https://static.wikia.nocookie.net/us-2019-film/images/e/ed/0595AC61-0C1B-48ED-BB8E-256B58E25820.jpeg' %>')">
      <%= link_to "#{list.name}", list_path(list), class: "card-add-link"%>
        <%= link_to list_path(list), data: { turbo_method: :delete, turbo_confirm: "Delete #{list.name}?"}, class: "card-remove-link" do %>
          <i class="fa-solid fa-trash card-movie-user" style="color: #ffffff;"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
